
.new-form-response-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid gray;
  padding-bottom: 2px;
  margin: 2px;
  // width: 100%;
}

.new-form-responses {
  display: flex;
  min-width: 10px;
}
